/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Oswald";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.error-text {
  color: red;
  font-size: 14px;
}
